*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

.main{
    width: 500px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}

#userInp{
   width: 70%;
   padding: 9px;
}
#taskBtn{
    padding: 6px 10px;
    font-size: 18px;
   background-color: green;
   color: white;
   border-radius: 8px;
   margin-left: 5px;
}

#tasklist li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    border-bottom: 1px solid orange;
}
button{
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
}